*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


// NAVBAR
nav{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    .navbar{
        position: fixed;
        background-color: rgba(0, 0, 0, 0);
        z-index: 11;
        max-width: 1440px;
        width: 100%;
        transition: background-color 0.5s linear;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        .logo{
            width: 170px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: 700;
            span{
                font-weight: 500;
            }
        }
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            height: 100%;
            li{
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 2px;
                height: 100%;
                width: 120px;
                overflow: hidden;
                a{
                    font-size: 14px;
                    margin: auto;
                    text-decoration: none;
                    color: white;
                }
                &::after{
                    display: block;
                    content: "";
                    height: 2px;
                    width: 0%;
                    transform: translateY(30px);
                    background-color: #FFD600;
                    z-index: 20;
                    transition: 0.5s;
                }
                &:hover::after{
                    transform: translateX(0px);
                    width: 100%;
                }
            }
            .login-navbar{
                background-color: #FFD600;
            }
        }
    }
}



// HERO
.container {
    margin: auto;
    max-width: 1440px;
    height: 750px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.15);
        z-index: 5;
    }
    .big-title{
        position: absolute;
        font-size: 48px;
        font-family: 'Pridi', serif;
        line-height: 4rem;
        font-weight: 500;
        top: calc(50% - 4rem);
        width: 100%;
        text-align: center;
        color: white;
        z-index: 6;
    }
    .button-hero{
        width: 100%;
        height: 80px;
        position: absolute;
        top: calc(50% + 20px);
        z-index: 7;
        display: flex;
        justify-content: center;
        .btn-primary{
            cursor: pointer;
            width: 182px;
            height: 45px;
            border-radius: 5px;
            background-color: rgba(255, 214, 0, 1);
            border: none;
            color: #fff;
            margin: 10px;
            font-weight: 600;
        }
        .btn-secondary{
            cursor: pointer;
            width: 182px;
            height: 45px;
            border-radius: 5px;
            background-color: rgba(255, 214, 0, 0);
            border: 1px solid #fff;
            color: #fff;
            margin: 10px;
        }
    }
    .sky{
        cursor: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    .plane{
        cursor: none;
        justify-content: center;
        width: 600px;
        top: calc(50% - 200px);
        position: absolute;
        z-index: 3;
    }
    .cloud1{
        cursor: none;
        position: absolute;
        width: 1500px;
        height: 2000px;
        object-fit: cover;
        margin: auto;
        right: 0;
        top: 0;
        z-index: 1;
    }
    .cloud2{
        cursor: none;
        position: absolute;
        width: 1500px;
        object-fit: cover;
        margin: auto;
        right: 500px;
        top: 100px;
        z-index: 1;
    }
    .cloud3{
        cursor: none;
        position: absolute;
        width: 1000px;
        object-fit: cover;
        margin: auto;
        right: -200px;
        top: 300;
        z-index: 1;
    }
}



// SECTION POPULAR
section.popular{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    height: 800px;
    position: relative;
    .search-float-container{
        position: absolute;
        bottom: 95%;
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: center;
        .search-bar{
            height: 150px;
            border-radius: 10px;
            width: 900px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 50px;
            z-index: 10;
            position: absolute;
            background-color: #fff;
            bottom: 95%;
            box-shadow: 0 10px 50px rgba(167, 166, 166, 0.2);
            .location-con{
                height: 100%;
                .search-title{
                    display: flex;
                    align-items: center;
                    height: 50%;
                    padding-top: 40px;
                    font-size: 18px;
                    i{
                        font-size: 18px;
                        margin-right: 5px;
                    }
                }
                .search-choices{
                    height: 50%;
                    padding-bottom: 20px;
                    font-size: 14px;
                    font-weight: 500;
                    span{
                        margin-left: 5px;
                    }
                }
            }
            .date-con{
                height: 100%;
                .search-title{
                    display: flex;
                    align-items: center;
                    height: 50%;
                    padding-top: 40px;
                    font-size: 18px;
                    i{
                        font-size: 18px;
                        margin-right: 7px;
                    }
                }
                .search-choices{
                    height: 50%;
                    padding-bottom: 20px;
                    font-size: 14px;
                    font-weight: 500;
                    span{
                        margin-left: 5px;
                    }
                }
            }
            .people-con{
                height: 100%;
                .search-title{
                    display: flex;
                    align-items: center;
                    height: 50%;
                    padding-top: 40px;
                    font-size: 18px;
                    i{
                        font-size: 18px;
                        margin-right: 7px;
                    }
                }
                .search-choices{
                    height: 50%;
                    padding-bottom: 20px;
                    font-size: 14px;
                    font-weight: 500;
                    span{
                        margin-left: 5px;
                    }
                }
            }
            .button-con{
                height: 100%;
                display: flex;
                align-items: center;
                .btn-primary{
                    font-weight: 600;
                    cursor: pointer;
                    width: 182px;
                    height: 60px;
                    border-radius: 5px;
                    background-color: rgba(255, 214, 0, 1);
                    border: none;
                    color: #fff;
                    margin: 10px;
                }
            }
        }
    }

    .shadow{
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 400px;
        z-index: 2;
        background: linear-gradient(to top, #fff, transparent);
    }
    .title{
        padding-top: 150px;
        margin-left: 10%;
        .small-title{
            font-size: 14px;
            font-weight: 400;
            color: #44B3F2;
        }
        .med-title{
            font-size: 30px;
            color: #000;
        }
    }
    .popular-contents{
        overflow-x: scroll;
        margin-left: 10%;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        align-items: center;
        &::-webkit-scrollbar {
            display: none;
        }
        .popular-card{
            margin-top: 30px;
            margin-right: 15px;
            width: 300px;
            height: 450px;
            position: relative;
            .card-des{
                position: absolute;
                border-radius: 10px;
                background-color: white;
                left: 15px;
                bottom: 40px;
                z-index: 5;
                width: 250px;
                height: 130px;
                box-shadow: 10px 10px 50px rgba(167, 166, 166, 0.2);
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                .card-loc{
                    font-weight: 500;
                    margin: 5px;
                }
                .card-rating{
                    i{
                        color: #FFD600;
                        margin: 5px 0;
                    }
                }
                .card-price{
                    color: #44B3F2;
                    margin: 5px;
                }
            }   
            .card-image{
                overflow: hidden;
                background-image: url(./img/rajaampat.png);
                background-size: cover;
                border-radius: 5px;
                width: 280px;
                height: 370px;
                position: relative;
                &::before{
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
                    z-index: 1;
                }
            }
            .card-image2{
                background-image: url(./img/bali.png);
                background-size: cover;
                border-radius: 5px;
                width: 280px;
                height: 370px;
                position: relative;
                &::before{
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
                    z-index: 1;
                }
            }
            .card-image3{
                background-image: url(./img/thai.png);
                background-size: cover;
                border-radius: 5px;
                width: 280px;
                height: 370px;
                position: relative;
                &::before{
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
                    z-index: 1;
                }
            }
            .card-image4{
                background-image: url(./img/malay.png);
                background-size: cover;
                border-radius: 5px;
                width: 280px;
                height: 370px;
                position: relative;
                &::before{
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
                    z-index: 1;
                }
            }
            .card-image5{
                background-image: url(./img/Bromo.jpg);
                background-size: cover;
                border-radius: 5px;
                width: 280px;
                height: 370px;
                position: relative;
                &::before{
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
                    z-index: 1;
                }
            }
        }
    }
}



// SECTION SNAP
section.snap{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    height: 600px;
    position: relative;
    overflow: hidden;
    .title{
        margin-left: 10%;
        .small-title{
            font-size: 14px;
            font-weight: 400;
            color: #44B3F2;
        }
        .med-title{
            font-size: 30px;
            color: #000;
        }
    }
    .photo-contents{
        overflow-x: auto;
        scroll-behavior: smooth;
        margin-left: 10%;
        display: grid;
        grid-template-columns: repeat(7,1fr);
        align-items: center;
        margin-top: 30px;
        &::-webkit-scrollbar {
            display: none;
        }
        .photo-card{
            margin-right: 30px;
            position: relative;
            overflow: hidden;
            background-image: url(./img/image3.png);
            background-size: cover;
            border-radius: 5px;
            width: 280px;
            height: 370px;
            position: relative;

        }
        .photo-card2{
            margin-right: 30px;
            overflow: hidden;
            background-image: url(./img/image4.png);
            background-size: cover;
            border-radius: 5px;
            width: 280px;
            height: 370px;
            position: relative;

        }
        .photo-card3{
            margin-right: 30px;
            overflow: hidden;
            background-image: url(./img/image5.png);
            background-size: cover;
            border-radius: 5px;
            width: 280px;
            height: 370px;
            position: relative;

        }
        .photo-card4{
            margin-right: 30px;
            overflow: hidden;
            background-image: url(./img/image6.png);
            background-size: cover;
            border-radius: 5px;
            width: 280px;
            height: 370px;
            position: relative;

        }
        .photo-card5{
            margin-right: 30px;
            overflow: hidden;
            background-image: url(./img/image1.jfif);
            background-size: cover;
            border-radius: 5px;
            width: 280px;
            height: 370px;
            position: relative;

        }
        .photo-card6{
            margin-right: 30px;
            overflow: hidden;
            background-image: url(./img/image2.jpg);
            background-size: cover;
            border-radius: 5px;
            width: 280px;
            height: 370px;
            position: relative;

        }
    }
}


// SECTION TESTI
section.testi{
    padding-top: 30px;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    height: 700px;
    position: relative;
    overflow: hidden;
    .title{
        margin-left: 10%;
        .small-title{
            font-size: 14px;
            font-weight: 400;
            color: #44B3F2;
        }
        .med-title{
            font-size: 30px;
            color: #000;
        }
    }
    .review-box{
        width: 80%;
        height: 450px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .review-box1{
            width: 45%;
            height: 372px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 10px 10px 50px rgba(167, 166, 166, 0.2);
            display: grid;
            grid-template-rows: 1fr 1fr;
            .profile{
                display: grid;
                grid-template-columns: 1fr 1fr;
                .picture{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .circle{
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        background-image: url(./img/profile1.png);
                        background-size: cover;
                    }
                }
                .details{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .name{
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                    .location{
                        font-size: 16px;
                        color: #44B3F2;
                        margin-bottom: 10px;
                        i{
                            margin-right: 5px;
                        }
                    }
                    .rating{
                        i{
                            color: #FFD600;
                            font-size: 24px;
                            margin: 5px 0;
                        }
                    }
                }
            }
            .text{
                p{
                    width: 80%;
                    margin: auto;
                }
            }
        }
        .review-box2{
            width: 45%;
            height: 372px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 10px 10px 50px rgba(167, 166, 166, 0.2);
            display: grid;
            grid-template-rows: 1fr 1fr;
            .profile{
                display: grid;
                grid-template-columns: 1fr 1fr;
                .picture{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .circle{
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        background-image: url(./img/profile2.png);
                        background-size: cover;
                    }
                }
                .details{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .name{
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                    .location{
                        font-size: 16px;
                        color: #44B3F2;
                        margin-bottom: 10px;
                        i{
                            margin-right: 5px;
                        }
                    }
                    .rating{
                        i{
                            color: #FFD600;
                            font-size: 24px;
                            margin: 5px 0;
                        }
                    }
                }
            }
            .text{
                p{
                    width: 80%;
                    margin: auto;
                }
            }
        }
        
    }
}


// FOOTER
footer{
    margin: auto;
    max-width: 1440px;
    width: 100%;
    height: 400px;
    background-color: rgba(255, 214, 0, 0.08);
    .footer{
        padding-top: 70px;
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .logo{
            width: 700px;
            img{
                width: 280px;
            }
        }
        .footer-link{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            .social{
                .ft-title{
                    font-size: 18px;
                    color: #FAB810;
                }
                .ft-link{
                    margin-top: 15px;
                    height: 110px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p{
                        margin-bottom: 15px;
                        font-size: 14px;
                        color: #858585;
                        span{
                            margin-left: 10px;
                        }
                    }
                }
            }
            .about{
                .ft-title{
                    font-size: 18px;
                    color: #FAB810;
                }
                .ft-link{
                    margin-top: 15px;
                    height: 110px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p{
                        margin-bottom: 15px;
                        font-size: 14px;
                        color: #858585;
                    }
                }
            }
            .product{
                .ft-title{
                    font-size: 18px;
                    color: #FAB810;
                }
                .ft-link{
                    margin-top: 15px;
                    height: 110px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p{
                        margin-bottom: 15px;
                        font-size: 14px;
                        color: #858585;
                    }
                }
            }
            .others{
                .ft-title{
                    font-size: 18px;
                    color: #FAB810;
                }
                .ft-link{
                    margin-top: 15px;
                    height: 110px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p{
                        margin-bottom: 15px;
                        font-size: 14px;
                        color: #858585;
                    }
                }
            }
        }
        
    }
    .made{
        display: block;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            color: #858585;
        }
    }
}