*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


// NAVBAR
nav{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    .navbar{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.05);
        z-index: 10;
        max-width: 1440px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        .logo{
            width: 170px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: 700;
            span{
                font-weight: 500;
            }
        }
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            height: 100%;
            li{
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 2px;
                height: 100%;
                width: 120px;
                overflow: hidden;
                a{
                    margin: auto;
                    text-decoration: none;
                    color: white;
                }
                &::after{
                    display: block;
                    content: "";
                    height: 2px;
                    width: 0%;
                    transform: translateY(30px);
                    background-color: #FFD600;
                    z-index: 20;
                    transition: 0.5s;
                }
                &:hover::after{
                    transform: translateX(0px);
                    width: 100%;
                }
            }
            .login-navbar{
                background-color: #FFD600;
            }
        }
    }
}



// HERO
.container {
    margin: auto;
    max-width: 1440px;
    height: 750px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.15);
        z-index: 5;
    }
    .big-title{
        position: absolute;
        font-size: 48px;
        font-family: 'Pridi', serif;
        line-height: 4rem;
        font-weight: 500;
        top: calc(50% - 4rem);
        width: 100%;
        text-align: center;
        color: white;
        z-index: 6;
    }
    .button-hero{
        width: 100%;
        height: 80px;
        position: absolute;
        top: calc(50% + 20px);
        z-index: 7;
        display: flex;
        justify-content: center;
        .btn-primary{
            cursor: pointer;
            width: 182px;
            height: 45px;
            border-radius: 5px;
            background-color: rgba(255, 214, 0, 1);
            border: none;
            color: #fff;
            margin: 10px;
            font-weight: 600;
        }
        .btn-secondary{
            cursor: pointer;
            width: 182px;
            height: 45px;
            border-radius: 5px;
            background-color: rgba(255, 214, 0, 0);
            border: 1px solid #fff;
            color: #fff;
            margin: 10px;
        }
    }
    .sky{
        cursor: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    .plane{
        cursor: none;
        justify-content: center;
        width: 600px;
        top: calc(50% - 200px);
        position: absolute;
        z-index: 3;
    }
    .cloud1{
        cursor: none;
        position: absolute;
        width: 1500px;
        height: 2000px;
        object-fit: cover;
        margin: auto;
        right: 0;
        top: 0;
        z-index: 1;
    }
    .cloud2{
        cursor: none;
        position: absolute;
        width: 1500px;
        object-fit: cover;
        margin: auto;
        right: 500px;
        top: 100px;
        z-index: 1;
    }
    .cloud3{
        cursor: none;
        position: absolute;
        width: 1000px;
        object-fit: cover;
        margin: auto;
        right: -200px;
        top: 300;
        z-index: 1;
    }
}



// SECTION
section{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    height: 700px;
    display: flex;
    align-items: center;
    position: relative;
    .search-float-container{
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: center;
        .search-bar{
            height: 150px;
            border-radius: 10px;
            width: 900px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 50px;
            z-index: 10;
            position: absolute;
            background-color: #fff;
            bottom: 95%;
            box-shadow: 0 10px 50px rgba(167, 166, 166, 0.2);
            .location-con{
                height: 100%;
                .search-title{
                    height: 50%;
                    padding-top: 40px;
                    font-size: 20px;
                }
                .search-choices{
                    height: 50%;
                    padding-bottom: 40px;
                    font-size: 18px;
                    font-weight: 500;
                    span{
                        margin-left: 5px;
                    }
                }
            }
            .date-con{
                height: 100%;
                .search-title{
                    height: 50%;
                    padding-top: 40px;
                    font-size: 20px;
                }
                .search-choices{
                    height: 50%;
                    padding-bottom: 30px;
                    font-size: 18px;
                    font-weight: 500;
                    span{
                        margin-left: 5px;
                    }
                }
            }
            .people-con{
                height: 100%;
                .search-title{
                    height: 50%;
                    padding-top: 40px;
                    font-size: 20px;
                }
                .search-choices{
                    height: 50%;
                    padding-bottom: 30px;
                    font-size: 18px;
                    font-weight: 500;
                    span{
                        margin-left: 5px;
                    }
                }
            }
            .button-con{
                height: 100%;
                display: flex;
                align-items: center;
                .btn-primary{
                    font-weight: 600;
                    cursor: pointer;
                    width: 182px;
                    height: 70px;
                    border-radius: 5px;
                    background-color: rgba(255, 214, 0, 1);
                    border: none;
                    color: #fff;
                    margin: 10px;
                }
            }
        }
    }
    
    .content-container{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        .title-small{
            margin-bottom: 50px;
        }
        .des{
            text-align: center;
        }
    }
    .shadow{
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 400px;
        z-index: 2;
        background: linear-gradient(to top, #fff, transparent);
    }
}




